endpoint:
  uri: https://127.0.0.1:8443
  # either...
  username: developer
  password: developer
  options: --insecure-skip-tls-verify
  # or...
  # token: xyz
projects:
  preserve:
    - coscale1
    - default
    - demo
    - innovateuk
    - kube-system
    - logging
    - management-infra
    - openshift
    - openshift-infra
    - perf
    - production
    - storage-prod
    - sysint
    - test
    - uat
  rules:
    - project: "^at-.*"
      max_age_in_hours: 18
default_max_age_in_hours: 48
prune:
  builds: "--orphans --keep-complete=5 --keep-failed=1 --keep-younger-than=24h --confirm"
  deployments: "--orphans --keep-complete=5 --keep-failed=1 --keep-younger-than=24h --confirm"
  images: "--keep-tag-revisions=3 --keep-younger-than=24h   --registry-url=https://docker-registry --confirm"
